h2 {
    text-align: center;
    color: red;
    font-style: italic;
}
h3 {
    color: red;
    font-style: italic;
}
div {
    border:solid lightsalmon;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    padding:16px;
}